@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address><strong>More information - @ViewData["CreatorName"] (@ViewData["CreatorEmail"])</strong></address>